<script>
    const name = "Sifan";
    const favorite = ["soft cats", "sunshine"];
    const info = {name, favorite};
</script>

<p>
    My name is {info.name} and these are some of my favourite things: {info.favorite} .
</p>