<script>
function cir(radius){
    cir = 2*Math.PI*radius; 
    return cir;
}
const radius = 4;
const c = cir(radius).toFixed(2);
</script>

<p>
    The circumference of a circle with radius {radius}m is {c}m .
</p>