<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  import { scaleLinear } from 'd3-scale';
  import { scaleBand } from 'd3-scale';
  import { select } from 'd3-selection';
  import {axisLeft} from 'd3-axis';
  import {axisBottom} from 'd3-axis';
  
  const xScale = scaleBand().domain(data.map(item => item.service)).range([0, innerWidth]).padding(0.2);
  const yScale = scaleLinear().domain([0,3]).range([innerHeight,0]);
  const xAxis = axisBottom(xScale);
  const yAxis = axisLeft(yScale);

  function xAx(x) {axisBottom(xScale)(select(x))};
  function yAx(x) {axisLeft(yScale)(select(x))};
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!--  -->
    {#each data as d}
    <rect x={xScale(d.service)} y={yScale(d.viewers)}
          width={xScale.bandwidth()} height = {innerHeight - yScale(d.viewers)} fill="teal"/>
  {/each}
</g>
<g transform="translate({margin.left}, {innerHeight + margin.top})" use:xAx></g>
<g transform="translate({margin.left}, {margin.top})" use:yAx>
  <text x={-margin.left/2.5} y=0% fill="currentcolor"> Viewers </text>
  </g>
</svg>
